:root{
    --palette-color0: #0e1111;
    --palette-color1: #232b2b;
    --palette-color2: #353839;
    --palette-color3: #3b444b;
    --palette-color4: #414a4c;
}
@media screen and (min-width: 480px){
    
}
*{
    margin: 0%;
    background-color: var(--palette-color0);
    color: aliceblue;
}



